.controller {
  border: 3px solid black;
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10%;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.aside {
  background-color: #d6e4f0;
  grid-row: 2/7;
  grid-column: 6/-1;

  background-image: linear-gradient(to top, #d6e4f0 0%, #e7f0fd 100%);
}

.feed {
  grid-row: 6/7;
  grid-column: 1/6;
  border-right: 3px solid black;
}

.toppaneleft {
  background-color: #163172;
  grid-row: 1/1;
  grid-column: 1/6;
  border-right: 3px solid black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  background-image: linear-gradient(to top, #1e56a0 0%, #330867 100%);
}

.toppaneright {
  background-color: #163172;
  grid-row: 1/1;
  grid-column: 6/7;

  background-image: linear-gradient(to top, #1e56a0 0%, #330867 100%);
}

.usersText {
  margin-top: 40px;
  text-align: center;
  color: #f6f6f6;
}

.usersList {
  list-style: none;
  text-align: center;
  padding: 8px;
  vertical-align: baseline;
  background-image: linear-gradient(#fefefe, #eee);
  margin: 0;
}

.loginButton,
.signUpButton {
  background-color: whitesmoke;
  padding: 8px;
  margin-right: 15px;
  margin-top: 10px;
  width: 80px;
}

.inputUsername {
  background-color: whitesmoke;
  padding: 8px;
  margin-right: 15px;
  margin-top: 10px;
  width: 62px;
}

.inputPassword {
  background-color: whitesmoke;
  padding: 8px;
  margin-right: 15px;
  margin-top: 10px;
  width: 62px;
}

.inputsLoginPassword,
.inputsUsernameSignUp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatMessages {
  grid-row: 6/2;
  grid-column: 1/6;
  border-right: 3px solid black;
}

.name {
  border-radius: 10px 0px 0px 10px;
  margin: 0px 0px 0px 15px;
  padding: 5px 0px 5px 10px;
  color: #2e7bbe;
  background-color: #f0f0f0;
}

.teksti {
  border-radius: 0px 10px 10px 0px;
  padding: 5px 10px 5px 15px;
  background-color: #f0f0f0;
}

.messagesList {
  list-style-type: none;
  margin: 0px 0px 0px -40px;
}

.liMessage {
  padding: 15px 0px 0px 0px;
}

.removeButton {
  border-radius: 7px 7px 7px 7px;
  margin: 0px 0px 0px 15px;
  padding: 2px 2px 2px 2px;
  font-size: 9px;
  width: 37px;
  height: 16px;
}
