.inputChat {
    background-color: whitesmoke;
    padding: 8px;
    margin-left: 15px;
    margin-top: 10px;
    width: 35%;
}

.sendButton {
    background-color: whitesmoke;
    padding: 8px;
    margin-left: 15px;
    margin-top: 10px;
    width: 13%;
}

input:invalid {
    background-color: #D6E4F0;
}