.inputChat {
  background-color: whitesmoke;
  padding: 8px;
  margin-left: 15px;
  margin-top: 10px;
  width: 35%;
}

.sendButton {
  background-color: whitesmoke;
  padding: 8px;
  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
  margin: 3px 12px 5px 12px;
  border-radius: 37px 5px 43px 26px;
}

@media screen and (max-width: 600px) {

}

.container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.inputEmoji {
}

input:invalid {
  background-image: linear-gradient(to top, #d6e4f0 0%, #e7f0fd 100%);
}

